.git
.gitignore
.DS_Store
**/.DS_Store

.env
.env.*
**/.env
**/.env.*
!**/.env.example

node_modules
**/node_modules
**/vendor

**/*.log
**/bootstrap/cache/*.php
**/storage/logs/*
**/storage/framework/cache/data/*
**/storage/framework/sessions/*
**/storage/framework/testing/*
**/storage/framework/views/*
**/storage/*.key
**/storage/pail
**/public/build
**/public/hot
**/public/storage

**/database/*.sqlite
**/database/*.sqlite-*
**/database/*.db
MySQL

**/.phpunit.cache
**/.phpunit.result.cache
**/.idea
**/.vscode
docker-compose.override.yml
